<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>司机端注册</title>

    <script src="../js/uilt.js"></script>
    <script src="../vue/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css" />
    <script type="text/javascript" src="../layui/layui.js"></script>
    <script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>

    <!--<link rel="stylesheet" type="text/css" href="../css/public.css">
 
    <link rel="stylesheet" type="text/css" href="../css/mobileSelect.css">
    <script src="../js/mobileSelect.js" type="text/javascript"></script>-->

</head>
<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>司机注册</legend>
        <span style="color:red;margin-left:30px;">注册后信息不可改变</span>
    </fieldset>

    <form class="layui-form layui-form-pane" id="dataset" style="margin:10px;" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" v-model="username" lay-verify="names" name="username" autocomplete="off" placeholder="请输入姓名" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-block">
                <input type="text" v-model="usercall" lay-verify="username" name="usercall" autocomplete="off" placeholder="接单显示的昵称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">车牌号</label>
            <div class="layui-input-block">
                <input type="text" v-model="carcard" lay-verify="carcard" name="carcard" autocomplete="off" placeholder="请输车牌号" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input type="text" v-model="moblie" lay-verify="required|phone" name="moblie" autocomplete="off" placeholder="电话" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">车身颜色</label>
            <div class="layui-input-block">
                <input type="text" v-model="carColor" lay-verify="carColor" name="carColor" autocomplete="off" placeholder="车身颜色" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">路线</label>
            <div class="layui-input-block">
                <select name="route" v-model="route" id="route" lay-filter="route"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">车型</label>
            <div class="layui-input-block">
                <select name="carType" v-model="carType" lay-filter="aihao">
                    <option value="舒适5座" selected="">舒适5座</option>
                    <option value="商务7座">商务7座</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">座位数</label>
            <div class="layui-input-block">
                <select name="seatNum" v-model="seatNum" lay-filter="aihao">
                    <option value="4" selected="">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10以上</option>
                </select>
            </div>
        </div>

        <div class="layui-upload">
            <button v-if="ir" type="button" class="layui-btn" id="idcard">身份证正面照</button>
            <div class="layui-upload-list">
                <img width="200" onclick="openimage(this)" v-bind:src="idcard" class="layui-upload-img" id="idcardimage">
                <p id="idcardtext"></p>
            </div>
        </div>

        <div class="layui-upload">
            <button v-if="ir" type="button" class="layui-btn" id="driverlicense">驾驶证</button>
            <div class="layui-upload-list">
                <img width="200" onclick="openimage(this)" v-bind:src="driverlicense" class="layui-upload-img" id="driverlicenseImage">
                <p id="driverlicensetext"></p>
            </div>
        </div>

        <div class="layui-upload">
            <button v-if="ir" type="button" class="layui-btn" id="drivinglicense">行使证</button>
            <div class="layui-upload-list">
                <img width="200" onclick="openimage(this)" v-bind:src="drivinglicense" class="layui-upload-img" id="drivinglicenseimage">
                <p id="drivinglicensetext"></p>
            </div>
        </div>

        <div class="layui-upload">
            <button v-if="ir" type="button" class="layui-btn" id="carimage">车辆侧面照（车牌清晰）</button>
            <div class="layui-upload-list">
                <img width="200" onclick="openimage(this)" v-bind:src="carimage" class="layui-upload-img" id="carimageimage">
                <p id="carimagetext"></p>
            </div>
        </div>
        
        <div class="layui-upload">
            <button v-if="ir" type="button" class="layui-btn" id="carimage">车辆侧面照（车牌清晰）</button>
            <div class="layui-upload-list">
                <img width="200" onclick="openimage(this)" v-bind:src="carimage" class="layui-upload-img" id="carimageimage">
                <p id="carimagetext"></p>
            </div>
        </div>
        <div class="layui-upload" v-if="show">
            <button v-if="ir" type="button" class="layui-btn" id="operationcertificate">运营证</button>
            <div class="layui-upload-list">
                <img width="200" onclick="openimage(this)" v-bind:src="operationcertificate" class="layui-upload-img" id="operationcertificateimage">
                <p id="operationcertificatetext"></p>
            </div>
        </div>

        <div class="layui-form-item" v-if="ir">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script>
        //$(document).ready(driver_obj.info1_init);
        var userInfo = {
            idcard: "",
            driverlicense: "",
            drivinglicense: "",
            carimage: "",
            operationcertificate:""
        };

        var action = "";
        var driveri = null;
        var app = null;
        var read = null;
        $(function () {
            action = urlTools.getUrlParam("id");
            read = urlTools.getUrlParam("r");
            var tmp = action;
            if (action == null) {
                //if (uilt_glob_openid == null) registeruser();
                if (databaseUserinfo == null) getuserinfo();
                tmp = databaseUserinfo.id;
            }

            $.ajax({
                url: "/api/driverinfo/" + tmp,
                async: true,
                success: function (data) {
                    if (data == undefined) return;
                    if (action != null) {
                        driveri = data;
                        userInfo.driverlicense = data.drivinglicense;
                        userInfo.carimage = data.carimage;
                        userInfo.drivinglicense = data.drivinglicense;
                        userInfo.idcard = data.idcard;
                        userInfo.operationcertificate = data.operationcertificate;
                        driveri.driverlicense = "/api/Fileup/image?id=" + driveri.driverlicense;
                        driveri.carimage = "/api/Fileup/image?id=" + driveri.carimage;
                        driveri.drivinglicense = "/api/Fileup/image?id=" + driveri.drivinglicense;
                        driveri.idcard = "/api/Fileup/image?id=" + driveri.idcard;
                        driveri.ir = true;
                        driveri.operationcertificate = "/api/Fileup/image?id=" + driveri.operationcertificate;
                        if (read == 1) driveri.ir = false;
                        var res = urlTools.Config("operationcertificate");
                        if (res == 1) driveri.show = true;
                        else driveri.show = false;
                        app = new Vue({
                            el: "#dataset",
                            data: driveri
                        });
                    } else {
                        if (data.driverstate == 1) window.location.href = "./main.html";
                        else window.location.href = "./sleep.html";
                    }

                }
            });
        });

          function openimage(obj) {
              if (action == null) return;
              var src = $(obj).attr("src");
              window.open(src);
          }
         
        function fun() {
            $.ajax({
                url: "/api/iroute",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        document.getElementById("route").innerHTML += '<option value="' + data[i].id + '">' + data[i].routeName + '</option>';
                    }
                }
            });
        }
        fun();




        layui.use(['form', 'layedit', 'laydate', 'upload'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , upload = layui.upload;
            ///驾驶证上传
            var driverlicense = upload.render({
                elem: '#driverlicense'
                , url: '/api/Fileup/upload'
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#driverlicenseImage').attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (res) {
                    //如果上传失败
                    if (res.code > 0) {
                        return layer.msg('上传失败');
                    }
                    userInfo.driverlicense = res.msg;
                    //上传成功
                }
                , error: function () {
                    //演示失败状态，并实现重传
                    var demoText = $('#driverlicensetext');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        driverlicense.upload();
                    });
                }
            });
            ///身份证上传
            var idcard = upload.render({
                elem: '#idcard'
                , url: '/api/Fileup/upload'
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#idcardimage').attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (res) {
                    //如果上传失败
                    if (res.code > 0) {
                        return layer.msg('上传失败');
                    }
                    userInfo.idcard = res.msg;
                    //上传成功
                }
                , error: function () {
                    //演示失败状态，并实现重传
                    var demoText = $('#idcardtext');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        idcard.upload();
                    });
                }
            });
            //行驶证
            var drivinglicense = upload.render({
                elem: '#drivinglicense'
                , url: '/api/Fileup/upload'
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#drivinglicenseimage').attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (res) {
                    //如果上传失败
                    if (res.code > 0) {
                        return layer.msg('上传失败');
                    }
                    userInfo.drivinglicense = res.msg;
                    //上传成功
                }
                , error: function () {
                    //演示失败状态，并实现重传
                    var demoText = $('#drivinglicensetext');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                }
            });
            ///车辆侧面照
            var carimage = upload.render({
                elem: '#carimage'
                , url: '/api/Fileup/upload'
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#carimageimage').attr('src', result); //图片链接（base64）
                    });
                }
                , done: function (res) {
                    //如果上传失败
                    if (res.code > 0) {
                        return layer.msg('上传失败');
                    }
                    userInfo.carimage = res.msg;
                    //上传成功
                }
                , error: function () {
                    //演示失败状态，并实现重传
                    var demoText = $('#carimagetext');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        carimage.upload();
                    });
                }
            });


            //自定义验证规则
            form.verify({
                names: function (value) {
                    if (value.length > 16 || value.length < 2) {
                        return '名字必须大于2，小于16';
                    }
                }
                , carcard: [
                    /^[京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领A-Z]{1}[A-Z]{1}[A-Z0-9]{4}[A-Z0-9挂学警港澳]{1}$/
                    , '车牌号输入错误'
                ]
                , username: function (value) {
                    if (value.length > 4 || value.length < 2) {
                        return '昵称输入必须大于2，小于4';
                    }
                }
                , carColor: function (value) {
                    if (value.length < 1 || value.length > 10) {
                        return '输入必须大于1，小于10';
                    }
                }
            });


            //监听提交
            form.on('submit(demo1)', function (data) {
                if (userInfo.carimage === "" || userInfo.driverlicense === "" || userInfo.drivinglicense === "" || userInfo.idcard === "") {
                    layer.alert("证件信息不完整", {
                        title: '错误',
                        offset: 'tc'
                    });
                } else {
                    data.field.carimage = userInfo.carimage;
                    data.field.idcard = userInfo.idcard;
                    data.field.drivinglicense = userInfo.drivinglicense;
                    data.field.driverlicense = userInfo.driverlicense;
                    
                    if (action != null) {
                        delete data.field.file;
                        $.ajax({
                            url: "/api/driverinfo/" + action,
                            type: "PUT",
                            data: JSON.stringify(data.field),
                            contentType:"application/json",
                            success: function (data) {
                                layer.alert("信息更新成功。", {
                                    title: '更新成功',
                                    offset: 'tc'
                                });
                            }
                        });
                    } else {
                        data.field.userid = databaseUserinfo.id;
                        $.ajax({
                            url: "/api/driverinfo",
                            type: "POST",
                            data: JSON.stringify(data.field),
                            contentType: "application/json",
                            success: function (data) {
                                layer.alert("创建成功等待审核,这需要几个工作日。", {
                                    title: '创建成功',
                                    offset: 'tc'
                                });
                                window.location.href = "./sleep.html";
                            }
                        });
                    }

                    
                }
                return false;
            });


        });
    </script>
</body>
</html>